@{
    ViewData["Title"] = "Reset password confirmation";
}
<h1>@ViewData["Title"].</h1>
<p>
    Your password has been reset. Please <b><a asp-controller="Home" asp-action="Index">Click here to Home Page</a>.</b>
</p>