@if (User.Identity.IsAuthenticated)
{
<div class="dropdown navbar-right" style="float:right;margin-left:3px;margin-top:10px;">
    <a class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff;font-size:medium;margin:0px;padding:0px;cursor:pointer;border:none;text-decoration:none;">
        <img src="~/images/business.png" style="width: 32px; height: 32px; margin-right: 1px;" />Business<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Business", "Home", new { })"><img src="~/Images/business.png" style="width: 24px; height: 24px;" />Business</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">General</a></li>
    </ul>
</div>
<div class="dropdown navbar-right" style="float:right;margin-left:3px;margin-top:10px;">
    <a class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff; font-size:medium;margin:0px;padding:0px;cursor:pointer;border:none;text-decoration:none;">
        <img src="~/images/setting.png" style="width: 32px; height: 32px; margin-right: 1px;" />Account<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Register", "Account", new { })"><img src="~/Images/people.png" style="width: 24px; height: 24px;" />Register</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Account", new { })"><img src="~/Images/setting.png" style="width: 24px; height: 24px;" />Manage</a></li>
    </ul>
</div>
}