@{ViewBag.TitleHeader = "Unauthorised Access";}
<div class="row" style="margin-left:15px;">
    <div class="col-md-6">
        <h1 class="text-danger" style="color:red;font-weight:bold;"><img src="~/images/error.png" class="ico-m" /> Access Denied</h1>
    </div>
</div>
<div class="row" style="margin-left:15px;">
    <h4 class="text-danger">Your access is denied. Please contact I.T Administrator, Sorry for the inconvenience caused!!!!!!</h4>
    <p style="text-align:justify;width:70%;">
        Unauthorised access or use of this system is prohibited.  All users expressly consent to monitoring of their activities by system personnel and understand that information relating to possible criminal conduct may be provided to officials for disciplinary and/or legal action.
    </p>
    <p style="text-align:justify;width:70%;">
        By continuing to use this system, you indicate your awareness of and consent to these terms and conditions of use.
    </p>
    <p>
        Thank You,
    </p>
    <p style="font-weight:bold;">
        I.T<br />
        Family Star Ltd.
    </p>
</div>
